cdk.out/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
.terraform/
.terraform.lock.hcl
*.zip
*.tar.gz
*.tgz

# IDEs
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log

infra/terraform/ec2-website/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/linux_amd64/terraform-provider-aws_v4.67.0_x5